.todo-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#666;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
   
  }
  
  .add-task {
    margin-bottom: 10px;
  }
  
  .add-task input,
  .add-task textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-task button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-task button:hover {
    background-color: #0056b3;
  }
  
  .tasks {
    margin-top: 20px;
  }
  
  .todo-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
  }
  
  .todo-item h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .todo-item p {
    margin: 0;
    font-size: 16px;
    color: #666;
  }
  
  .todo-item button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .todo-item button:hover {
    background-color: #c82333;
  }
  
  .todo-item button:focus {
    outline: none;
  }
  
  .todo-item button:active {
    transform: scale(0.95);
  }
  